
<div class="description">
  <p>Travel Bucket List is designed to help you to keep track of every place on earth you visited and you plan to visit. You can add countries and cities and mark them as visited or to visit. </p>
</div>

<div class="wrapper">

<div class="box">
  <a href="/visited"><h2>Visited</h2></a>
</div>
<div class="box">
  <a href="/unvisited"><h2>Unvisited</h2></a>
</div>

</div>
