<h2>Cities <%= @status %> in <%= @country.name %></h2>

<%for city in @cities  %>
  <ul>
    <li><%= city.name %></li>
    <form class="" action="/cities/<%= @country.id %>/delete" method="post">
      <input type="submit"  value="delete">
    </form>
  </ul>

<% end %>
