
<div class="edit">
  <h2>Add City in <%= @country.name %></h2>
  <form class="" action="/cities" method="post">
    <label for="city_name">City name: </label>
    <input type="text" id="city_name" name="name">
    <input style="display: none" type="text"  name="visited" value="<%= @country.visited %>"  required>
    <input style="display: none" type="number" name="country_id" value="<%= @country.id.to_i %>" required>

    <input type="submit" value="Add city">
  </form>
</div>
