<div class="edit">
  <h2>Add country</h2>
  <form class="" action="/visited" method="post"><!-- @status instead visited  -->
    <label for="country_name">Name of <%= @status %> country: </label>
    <input type="text" id= "country_name" name="name">

    <% if @status == "visited" %>
    <input style="display: none" type="checkbox" name="visited" value="true" checked >
    <% else %>
    <input style="display: none" type="checkbox" name="visited" value="false" checked >
    <% end %>

    <input type="submit" value="Add this country">
  </form>
</div>
